<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <script src="../../angular.min.js"></script>
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <title>CustomerForms</title>
    <script type="text/template" id="triTemplate">
        <div class="well">
            <div class="btn-group">
                <button class="btn btn-default">Yes</button>
                <button class="btn btn-default">No</button>
                <button class="btn btn-default">Not Sure</button>
            </div>
        </div>
    </script>
    <script>
        angular.module('app', [])
                .controller('defaultCrl', function ($scope) {
                    $scope.dataValue = "Not Sure";
                })
                .directive("triButton", function () {
                    return {
                        restrict: 'E',
                        template: document.querySelector("#triTemplate").outerText,
                        replace:true,
                        require: 'ngModel',
                        link: function (scope, element, attrs, ctrl) {
                            ctrl.$formatters.push(function (value) {
                                console.log(ctrl.$modelValue)
                                return value == 'Huh?' ? "Not Sure" : value;
                            })
                            element.on('click', function (event) {
                                selected(event.target.innerText);
                                scope.$apply(function () {
                                    ctrl.$setViewValue(event.target.innerText);
                                })
                            })
                            var selected = function (value) {
                                var buttons = element.find("button");
                                buttons.removeClass('btn-primary');
                                for (var i = 0; i < buttons.length; i++) {
                                    if (buttons.eq(i).text() == value) {
                                        buttons.eq(i).addClass("btn-primary");
                                    }
                                }
                            };
                            ctrl.$render = function () {
                                selected(ctrl.$viewValue || "Not Sure");
                            }
                        }
                    }
                })
    </script>
</head>
<body>
<div ng-controller="defaultCrl">
    <div>
        <tri-button ng-model="dataValue"/>
    </div>
    <div class="well">
        Value:
        <select ng-model="dataValue">
            <option>Yes</option>
            <option>No</option>
            <option>Not Sure</option>
            <option>Huh?</option>
        </select>
    </div>
</div>
</body>
</html>